.moduleTitle .module-title-text {
    height: -0px;
    padding-left: 2%;
    line-height: 13px;
    margin-bottom: 0px;
}
.moduleTitle h2 {
    display: block;
    font-size: 30px;
    font-weight: 350;
    color: #646879;
    margin: 0 0 12px 50px;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
div.moduleTitle {
    text-align: center;
}