.moduleTitle .module-title-text {
    height: -0px;
    /* padding-left: 2%; */
    line-height: 3px;
}
.moduleTitle h2 {
    display: block;
    font-size: 30px;
    font-weight: 350;
    color: #646879;
    margin: 16px 0 9px 0px;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* text-align: center; */
}

div.moduleTitle {
    text-align: center;
}

.alert .alert-link {
    font-weight: 700;
    color: white;
}
.desktop_notifications .has-alerts .alert-header {
    font-size: 14px;
    font-weight: bold;
    background-color: #2d917e;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    line-height: 20px;
    text-align: center;
}